<%= form_with(model: license, local: true) do |form| %>
  <% if license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(license.errors.count, "error") %> prohibited this license from being saved:</h2>

      <ul>
        <% license.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :validity %>
    <%= form.date_field :validity, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
