<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="card">
    <div class="card-header">
      Informações pessoais
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-4">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-5">
          <div class="form-group">
            <%= form.label :surname %>
            <%= form.text_field :surname, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <%= form.label :cpf %>
            <%= form.text_field :cpf, class: 'form-control', maxlength: 11 %>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <%= form.label :date_of_birth %>
            <%= form.date_field :date_of_birth, class: 'form-control', max: Date.current - 18.years %>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="form-group">
            <%= form.label :email %>
            <%= form.text_field :email, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="card-header">
      Habilitação
    </div>
    <div class="card-body">
      <%= form.fields_for :license do |license_form| %>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <%= license_form.label :number %>
              <%= license_form.text_field :number, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <%= license_form.label :validity %>
              <%= license_form.date_field :validity, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 col-lg-3">
          <%= license_form.fields_for :modality do |modality_form| %>
              <div class="form-group">
                <%= modality_form.label :name %>
                <%= modality_form.select :name, options_for_select(@modalities_names),
                                         {include_blank: ''}, class: 'form-control' %>
              </div>
          <% end %>
          </div>
          <div class="col-sm-6 col-md-2 col-lg-3">
            <div class="form-group">
            <%= label_tag 'cat_a', 'Categoria A ?' %>
              <div>
                <div class="form-check form-check-inline">
                  <%= radio_button_tag 'cat_a', true, false, class: 'form-check-input' %>
                  <%= label_tag 'cat_a', 'Sim', value: 'true', class: 'form-check-label' %>
                </div>
                <div class="form-check form-check-inline">
                  <%= radio_button_tag 'cat_a', false, false, class: 'form-check-input' %>
                  <%= label_tag 'cat_a', 'Não', value: 'false', class: 'form-check-label' %>
                </div>
              </div>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Contato
    </div>
    <div class="card-body">
      <div id="phones_container">
        <%= form.fields_for :phones do |phone_form| %>
          <%= render 'people/partials/phone_form', phone_form: phone_form %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add task', form, :phones,
                                      partial: 'people/partials/phone_form',
                                      form_name: 'phone_form', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-warning', style: 'float: right' %>
  </div>
<% end %>
