<div style="display: grid; grid-template-columns: minmax(100px, 20%) auto">
  <div class="mt-1">
    <div class="accordion" id="accordionExample">
      <div class="list-group">
        <button class="list-group-item list-group-item-action" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Cadastros
        </button>
        <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="list-group ml-3">
            <%= link_to 'Alocações', leases_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Automóveis', automobiles_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Configurações', settings_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Habilitações', licenses_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Pessoas', people_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Telefones', phones_path, class: 'list-group-item list-group-item-action' %>
          </div>
        </div>
        <button class="list-group-item list-group-item-action" type="button" data-toggle="collapse" data-target="#collapseReports" aria-expanded="true" aria-controls="collapseOne">
          Relatórios
        </button>
        <div id="collapseReports" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="list-group ml-3">
            <%= link_to 'Automóveis', reports_automobiles_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Clientes', reports_customers_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Financeiro', reports_financial_path, class: 'list-group-item list-group-item-action' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= yield %>
  </div>
</div>