<div class="nested-fields">
  <div class="card">
    <div class="card-header" style="padding: 5px">
      <%= link_to_remove_association "remove task", phone_form, class: 'btn btn-danger btn-sm float-right' %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <%= phone_form.label :ddd %>
            <%= phone_form.text_field :ddd, class: 'form-control', maxlength: '3', required: true %>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <%= phone_form.label :number %>
            <%= phone_form.text_field :number, class: 'form-control', required: true, maxlength: '9' %>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <%= phone_form.label :phone_type %>
            <%= phone_form.select :phone_type, options_for_select(@phone_types, phone_form.object.phone_type),
                                  {include_blank: ''}, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <%= phone_form.label :preferential %>
            <div>
              <div class="form-check form-check-inline">
                <%= phone_form.radio_button :preferential, true, class: 'form-check-input' %>
                <%= phone_form.label :preferential, 'Sim', value: 'true', class: 'form-check-label' %>
              </div>
              <div class="form-check form-check-inline">
                <%= phone_form.radio_button :preferential, false, class: 'form-check-input' %>
                <%= phone_form.label :preferential, 'Não', value: 'false', class: 'form-check-label' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>