<%= form_with(model: automobile, local: true) do |form| %>
  <% if automobile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(automobile.errors.count, "error") %> prohibited this automobile from being saved:</h2>

      <ul>
        <% automobile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <%= form.label :automobile_type %>
        <%= form.select :automobile_type, options_for_select(@automobile_types, form.object.automobile_type),
                        {include_blank: ''}, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <%= form.label :model %>
        <%= form.text_field :model, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <%= form.label :color %>
        <%= form.select :color, options_for_select(@automobile_colors, form.object.color),
                        {include_blank: ''},class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="form-group">
        <%= form.label :year %>
        <%= form.text_field :year, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="form-group">
        <%= form.label :plaque %>
        <%= form.text_field :plaque, class: 'form-control', required: true, minlength: '7', maxlength: '7' %>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="form-group">
        <%= form.label :daily_cost %>
        <%= form.number_field :daily_cost, step: 0.01, class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-warning', style: 'float: right' %>
  </div>
<% end %>
