<p id="notice"><%= notice %></p>

<h1>Automobiles</h1>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Model</th>
      <th>Color</th>
      <th>Year</th>
      <th>Type</th>
      <th>Plaque</th>
      <th>Daily cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @automobiles.each do |automobile| %>
      <tr>
        <td><%= automobile.model %></td>
        <td><%= automobile.color %></td>
        <td><%= automobile.year %></td>
        <td><%= automobile.automobile_type %></td>
        <td><%= automobile.plaque %></td>
        <td><%= automobile.daily_cost %></td>
        <td><%= link_to 'Show', automobile %></td>
        <td><%= link_to 'Edit', edit_automobile_path(automobile) %></td>
        <td><%= link_to 'Destroy', automobile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= page_entries_info @automobiles %>
<%= paginate @automobiles %>

<br>

<%= link_to 'New Automobile', new_automobile_path %>
