<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @automobile.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @automobile.color %>
</p>

<p>
  <strong>Year:</strong>
  <%= @automobile.year %>
</p>


<p>
  <strong>Type:</strong>
  <%= @automobile.automobile_type %>
</p>

<p>
  <strong>Plaque:</strong>
  <%= @automobile.plaque %>
</p>

<p>
  <strong>Daily cost:</strong>
  <%= @automobile.daily_cost %>
</p>


<%= link_to 'Edit', edit_automobile_path(@automobile) %> |
<%= link_to 'Back', automobiles_path %>
