<div class="container-fluid">
<p class="mt-2">
  Custo total de todas as locações de carros: <b>R$ <%= @cost_of_car_leases.truncate(2) %></b>
</p>
<div class="row mt-2 mb-1">
  <div class="col-sm-6">
    <h5>Alocações em andamento</h5>
  </div>
  <div class="col-sm-6 d-flex justify-content-end">
    <%= paginate @leases_in_progress, param_name: 'leases_in_progress_page' %>
  </div>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
  <th>Nome</th>
  <th>Sobrenome</th>
  <th>Data de início</th>
  <th>Data de fim</th>
  </thead>
  <tbody>
  <% if @leases_in_progress.blank? %>
    <tr><td colspan="4">Nenhuma alocação no momento</td></tr>
  <% end %>
  <% @leases_in_progress.each do |lease| %>
    <tr>
      <td><%= lease.person.name %></td>
      <td><%= lease.person.surname %></td>
      <td><%= lease.start_time %></td>
      <td><%= lease.end_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>