<!DOCTYPE html>
<html>
  <head>
    <title>Aluguel De Automóveis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/partials/navbar' %>
    <% if @sidebar %>
      <%= render "shared/sidebars/#{@sidebar}" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
